html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;

}

body{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    height: 100%;
}

.titre{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: center;
    color: #0e1c36;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.contenu{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: center;
    color: #0e1c36;
}

.contenu a{
    text-decoration: none;
    color: #0e1c36;
}

h1{
    font-weight: 600;
}

h1 span {
    font-weight: 900;
    color: #6be2cf;
    -webkit-text-stroke-color: #0e1c36;
    -webkit-text-stroke-width: 1px;
}

.nav-toggler {
    position:fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.line{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #0e1c36;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1{
    transform: translateY(-10px);
}

.l3{
    transform: translateY(10px);
}

.nav-toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2{
    opacity: 0;
}

.nav-toggler.active .l3{
    transform: translateY(0px) rotate(-135deg);
}

nav{
    position: fixed;
    width: 100vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #9ee3d1;
    border-bottom: 1px solid #0e1c36;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    overflow: hidden;
}

nav.active {
    transform: translateY(0);
}

nav a{
    font-family: "Poppins", sans-serif;
    color: #0e1c36;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.logo1 {
    position: fixed;
    padding: 15px;
    height: 150px;
}


.register_signin_form{
    font-family: "Poppins", sans-serif;
    width: 350px;
    padding: 20px;
    background-color: #9ee3d1;
    color: #0e1c36;
    flex-direction: column;
    display: flex;
    border-radius: 6px;
}

.boutton{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #0e1c36;
    padding: 20px;
    border: solid 1px #0e1c36;
    border-radius: 10px;
    background-color: #9ee3d1;
}

.explication{
    margin-top: 150px;
    font-weight: 500;
}

.boutons{
    margin-top: 150px;
}

.boutton:hover{
    background-color: #c7e6dd;
    color: #1f2838;
}

footer{
    font-family: "Poppins", sans-serif;
    background-color: #c7e6dd;
    color: #0e1c36;
    padding: 40px 0;
    text-align: center;
    margin-top: 50px;
}

.footer-links a{
    text-decoration: none;
    color: #0e1c36;
    padding-left: 10px;
}
