html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;

}

body{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    height: 100%;
}

.titre{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: center;
    color: #0e1c36;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.contenu a{
    font-weight: 700;
}
  .contenu a:hover {
    font-weight: 500;
  }

.contenu{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: center;
    color: #0e1c36;
}

.contenu a{
    text-decoration: none;
    color: #0e1c36;
}

h1{
    font-weight: 600;
}

h1 span {
    font-weight: 900;
    color: #6be2cf;
    -webkit-text-stroke-color: #0e1c36;
    -webkit-text-stroke-width: 1px;
}

.nav-toggler {
    position:fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.line{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #0e1c36;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1{
    transform: translateY(-10px);
}

.l3{
    transform: translateY(10px);
}

.nav-toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2{
    opacity: 0;
}

.nav-toggler.active .l3{
    transform: translateY(0px) rotate(-135deg);
}

nav{
    position: fixed;
    width: 100vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #9ee3d1;
    border-bottom: 1px solid #0e1c36;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    overflow: hidden;
}

nav.active {
    transform: translateY(0);
}

nav a{
    font-family: "Poppins", sans-serif;
    color: #0e1c36;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

nav a:hover{
    font-weight: 500;
}

.logo1 {
    position: fixed;
    padding: 15px;
    height: 150px;
}


.boutton{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #0e1c36;
    padding: 20px;
    border: solid 1px #0e1c36;
    border-radius: 10px;
    background-color: #9ee3d1;
    margin-left: 15px;
}

.explication{
    margin-top: 150px;
    font-weight: 500;
}

.boutons{
    margin-top: 150px;
}

.boutton:hover{
    background-color: #7bebcd;
        color: #1f2838;
        border: 2px solid #0e1c36;
}

.boutton:focus{
    background-color: #acecdb;
}
footer{
    font-family: "Poppins", sans-serif;
    background-color: #c7e6dd;
    color: #0e1c36;
    padding: 40px 0;
    text-align: center;
    margin-top: 150px;
}

.footer-links a{
    text-decoration: none;
    color: #0e1c36;
    padding-left: 10px;
}

.register_box{
    padding: 15px;
    border: 1px solid #0e1c36 ;
    background-color: #c7e6dd;
    border-radius: 6px;
    width: 37vh;
    justify-content: center;
}

.register_box a{
text-decoration: none;
color: #0e1c36;
}

.register_box a:hover{
    font-weight: 500
}

.form{
    background: #eafbf6;
    border-radius: 6px;
    border: 1px solid #0e1c36;
    width: 95%;
    height: 2.2vh;
    margin: 5px;
    font-family: "Poppins", sans-serif;
    padding: 5px;
}

.form-group {
    display: block;
    margin-right: 5%;
}

.form:focus{
    outline: 1px solid #1f2838;
    border: 1px solid #ccc;
    background: #e2fbf3;
}

.register_signin_button{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #0e1c36;
    padding: 12px;
    border: solid 1px #0e1c36;
    border-radius: 10px;
    background-color: #9ee3d1;
 margin-top: 15px;
 width: 85%;
}

.register_signin_button:hover {
        background-color: #7bebcd;
        color: #1f2838;
        border: 2px solid #0e1c36;
}


.register_signin_button:focus {
    background-color: #acecdb;
}

.register_signin_phrase_logo{
 text-align: left;
 max-width: 35vh;
 margin-right: 25%;
 margin-bottom: 15%;
}

.logo2{
    height: 28vh;
}

label{
    text-align: left;
    display: block;
    margin-left: 5px;
}

.name_form{
    display: flex;
    justify-content: space-between;
    width: 97%;
}